# Godot 4+ specific ignores
godot-cpp/
.godot/
*.os
*.o
*.template_debug
*.dblite
game/bin/~libgdgamelogic.windows.template_debug.x86_64.dll
game/bin/libgdgamelogic.windows.template_debug.x86_64.dll
game/bin/windows/~libgdgamelogic.windows.template_debug.x86_64.dll
